{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
    {{ dump(data) }}
    <p> {{ data.query }} </p>
    <p>Latitude : {{ latitude }} </p>
    <p>Longitude : {{ longitude }} </p>
{% endblock %}