{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% verbatim %}
      <div id="app">
        {{ message }}
      </div>
    {% endverbatim %}
{% endblock %}
