{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{#    {% verbatim %}#}
	{#      <div id="app">#}
	{#        {{ message }}#}
	{#      </div>#}
	{#    {% endverbatim %}#}
	{# <a href="{{ path('lieu', {'id': '1'}) }}">Palais Idéal du Facteur Cheval</a> #}
	{#    <a href="/lieu/arc de triomphe">Arc de triomphe</a>#}<div id="app"> </div>

{% endblock %}
