{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% for location in locations %}
        <div class="col-12">
            <a href="{{ path('lieu', {'id': location.id}) }}">{{ location.name }}</a>
        </div>
    {% endfor %}

{% endblock %}
